body {
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
  font-weight: 100;

  color: blue;
  // background-color: pink;
  background-color: rgba(247, 248, 255, 1);
  background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/gridme.png);
  background-blend-mode: lighten;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-size: 2.6em;
}
h2 {
  font-size: 2.15em;
}
h3 {
  font-size: 1.7em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.85em;
}

.big {
  font-size: 1.25em;
}

.light {
  font-weight: 400;
}

[data-mode='presentation'] body {
  font-size: 36px;
}

html[data-mode='presentation'],
[data-mode='presentation'] body,
[data-mode='presentation'] [class^=container],
[data-mode='presentation'] .row {
  height: 100%;
}

[data-mode='presentation'] .row {
  padding: 5%;
  background-color: rgba(247, 248, 255, 0.25);
}

[data-mode='presentation'] .title {
  padding-top: 20%;
}

.timeline {
  list-style: none;
  padding: 0;
}

.timeline li {
  display: block;
  width: 100%;
}
.timeline li strong, .timeline li .time {
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem 1rem 1rem 0;
}
.timeline li .time {
  text-align: right;
}
.how-to-pie h5.step::after {
  content: '→';
  float: right;
}

.img-responsive {
  margin: auto;
}

.img-responsive.really {
  width: 100%;
}